<div class="head">
  <h1>Autobuses</h1>
  <p><%= link_to "New autobus", new_autobus_path %></p>
</div>

<div class="content">
  <ul>
    <% @autobuses.each do |autobus| %>
      <li><a href="/autobuses/<%= autobus.id %>"><%= autobus.name %></a> </li>
    <% end %>
  </ul>
</div>

